<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat Room</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="Bookmark" href="favicon.ico">
    <!-- <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet"  href="style.css">
  </head>
  <body onLoad="document.getElementById('messageInput').focus()">
    <div id="container">
      <div id="userList">
        <h2>昵称: <strong v-bind:style="{color: myColor}" >{{ myName }}</strong></h2>
        <h2>当前在线: {{users.length}}</h2>
        <ul v-for="user in users">
          <li><span v-bind:style="{color: user.userColor}">〇</span> {{ user.userName }}</li>
        </ul>
      </div>
      <div id="messageList">
        <ul v-for="msg in messages">
          <li  class="message" >
            <strong v-bind:style="{color: msg.userColor,clear: 'both',float: 'left'}"
            v-show="!msg.is_self && !msg.message.is_notification">{{ msg.userName }}</strong>
            <div v-bind:class="{'self-message': msg.is_self,
                                'other-message': !msg.is_self && !msg.message.is_notification,
                                'system-message': msg.message.is_notification}">
            {{ msg.message.content }}
            </div>
          </li>
        </ul>
      </div>
      <input id="messageInput" type="text" value=""
      @keyup.enter="sendMessage" placeholder="请输入内容，Enter发送...">
    </div>
  </body>
  <script type="text/javascript" src="vue.js" ></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="main.js" ></script>
  <!-- <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script> -->
  <!-- <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
</html>
