* {
  /*box-sizing: border-box;*/
}

html{
    /*font-weight: 300;*/
}

body {
  background-image: url('./bkg.jpg');
  /*height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;*/
  /*background-color: #303538;*/
}
h3{
  text-align: center;
}
ul {
  /*word-wrap: break-word;*/
  list-style: none;
}

#page{
  /*主体页面*/
  /*height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;*/
  /*border: 1px solid ;
  border-radius: 10px;*/
  /*background-color: #303538;*/
}

#userArea{
  /*width: 20%;*/
  height: 640px;
  background-color: #dedede;
  /*float: left;*/
  /*clear: both;*/
  /*margin: 10px;*/
  overflow:auto;
}

#messagesArea{
  background-color: #ececec;
  height: 540px;
  overflow:auto;
}
#inputMessage {
    /*float: right;*/
    /*clear: left;*/
    /*width: 80%;*/
    /*height: 10%;*/
    overflow-y:scroll;
    width: 90%;
    height: 100px;
}
#sendBtn{
  position: absolute;
  width: 10%;
  height: 100px;
}
