* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
  word-break:break-all;
}


ul,
li{
  list-style: none;
  word-wrap: break-word;
  word-break:break-all;
  margin: 15px;
  text-align: left;
}


.message{
  text-align: center;
}
.wrap{
  margin: 5px 10px 0 ;
  float: left;
  clear: both;
}
.other-message{
  float: left;
  clear: both;
  text-align: left;
  margin:  10px 150px 10px 20px;
  padding: 5px 10px;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:0 20px 20px 20px ;
  background-color: #cccccc;
  color: #222222;
}
.self-message{
  float: right;
  clear: both;
  text-align: left;
  margin:  10px 15px 10px 150px;
  padding: 10px 10px;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:30px 30px 0 30px;
  background-color: #2291d9;
  color: #eeeeee;
}
.system-message{
  float: none;
  clear: both;
  color: #888888;
  text-align: center;
  margin: 10px auto;
}
.time-container{
  clear: both;
  margin: 0 auto;
  text-align: center;
}
.time-message{
  display: inline;
  border-radius: 15px;
  padding: 2px 8px;
  color: #f2f2f2;
  background-color: #aaaaaa;
}
